<section class="footer">
  <div class="mdc-layout-grid main-class">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--align-top mdc-layout-grid--align-left">
        <span class="mdc-toolbar__title"><a class="logo" href="{{ site.baseurl }}/index.html"><img src="{{ '/assets/img/logo-youse.svg' | relative_url }}" alt="{{ site.title }}" /></a></span>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--align-top mdc-layout-grid--align-left">
        Time de Ajuda - SAC
        0800 730 9901
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--align-top mdc-layout-grid--align-left">
        Time de Ajuda - Vendas
        0800 730 9902
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--align-top mdc-layout-grid--align-left">
        Deficiente auditivo
        0800 730 9904
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-top mdc-layout-grid--align-left">
        <button class="mdc-button" title="Mapa do site">Mapa do site <i class="material-icons" aria-hidden="true">keyboard_arrow_down</i></button>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-top mdc-layout-grid--align-left">
        <div class="mdc-divider"></div>
        <p class="mdc-typography--caption">
          Youse é uma plataforma de venda de seguros online da Caixa Seguradora.
          Os produtos comercializados neste site são garantidos pela Caixa Seguradora S.A., inscrita no CNPJ nº 34.020.354/0001-10, sediada no SHN, Quadra 01, Conjunto A, Bloco E, CEP 70701 050 – Brasília DF, sendo intermediados pela Wiz Soluções e Corretagem de Seguros S.A.
          O registro deste plano na SUSEP não implica, por parte da Autarquia, incentivo ou recomendação à sua comercialização.
          © 2018 Youse - Todos os direitos reservados
        </p>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-top mdc-layout-grid--align-left">
        <button class="mdc-button" title="Política de privacidade">Política de privacidade</button>
        <button class="mdc-button" title="Canal de denúncias">Canal de denúncias</button>
        <button class="mdc-button" title="Ouvidoria">Ouvidoria</button>
      </div>
    </div>
  </div>
</section>
