* {
  outline: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: var(--mdc-theme-primary);
  font-weight: 500;
}

img {
  max-width: 100%;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

#main-card,
#right-card {
  width: 100%;
}

.drawer-text {
  padding: 0 16px;
  margin: 0;
  font-size: .8rem;
  letter-spacing: .04em;
}

.drawer-text * {
  margin: 0;
}

.pitem {
  margin: 0;
}

.mdl-layout__content {
  width: 100%;
}

#toolbar-tab-bar {
  padding-right: 12px;
}

[dir="rtl"] #toolbar-tab-bar {
  padding-left: 12px;
}








/* Init customize */
.main-class {
  width: 100%;
  max-width: 1000px;
}

.mdc-toolbar__title .logo {
  text-decoration: none;
  color: #fff;
}

.mdc-toolbar__title .logo img {
  height: 24px;
  margin-bottom: -8px;
}

.mdc-toolbar .mdc-layout-grid {
  padding: 0;
}

.mdc-card {
  overflow: visible;
}

.mdc-card__img {
  margin: -80px auto 0;
  width: 80%;
  height: auto;
}

#home {
  text-align: center;
}

#home .hero {
  padding: 80px 0;
  color: var(--mdc-theme-text-primary-on-primary);
  background-color: var(--mdc-theme-primary);
  background: transparent url(../img/hero-home-bg.svg) bottom center no-repeat;
  background-size: cover;
}

#home .hero__title {
  text-align: left;
}

#home .hero__card {
  margin: 80px 0;
}

#home .hero__card .mdc-layout-grid {
  margin: 0;
  padding: 0;
}

#home .hero__card .mdc-layout-grid__cell {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home .hero__card .mdc-layout-grid .mdc-typography--headline4 {
  margin: 0;
  text-align: center;
}

#home .hero__card .mdc-button {
  width: 100%;
}

#home .home-section {
  padding: 80px 0;
}

#home .home-section--white .mdc-typography--headline1,
#home .home-section--gray .mdc-typography--headline1 {
  color: var(--mdc-theme-primary);
}

#home .home-section--purple {
  color: var(--mdc-theme-text-primary-on-primary);
  background-color: var(--mdc-theme-primary);
}

#home .home-section--white {
  background-color: var(--mdc-theme-background);
}

#home .home-section--gray {
  background-color: #FAFAFA;
}

#home .home-section__header {
  margin: 0 0 40px;
}

#home .home-section__header:last-child {
  margin: 80px 0 40px;
}

#home .home-section__header .mdc-typography--headline1 {
  margin: 0 0 40px;
}

#home .home-section__header .mdc-typography--headline5 {
  margin: 0;
}

#home .home-section__header .mdc-typography--subtitle1 {
  margin: 0 0 8px;
}

#home .mdc-list {
  text-align: left;
}

#home-section-3 .mdc-card {
  height: 180px;
  text-align: left;
}

#home-section-4 .mdc-card {
  height: 148px;
  text-align: center;
}

#home-section-4 .mdc-card .mdc-typography--headline3,
#home-section-4 .mdc-typography--headline5 {
  margin: 0;
}

#home-section-4 img {
  margin-top: 80px;
}

#home-section-5 .mdc-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  height: 340px;
}

#home-section-5 .mdc-card__action-icons {
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;
}

#home-section-5 .home-section__header:last-child {
  margin: 80px 0 120px;
}

#home #home-section-6 {
  padding-bottom: 0;
  text-align: left;
}

#home-section-6 .mdc-layout-grid {
  padding: 0;
}

#home-section-6 img {
  display: block;
  margin: auto;
}

#home-section-6 .mdc-typography--headline4 {
  margin-bottom: 0;
}
