:root {
    --mdc-theme-primary: #5f259f;
    --mdc-theme-accent: #5f259f;
    --mdc-theme-background: #ffffff;
}
/*
:root {
  --mdc-theme-primary: #d50000;
  --mdc-theme-accent: #d50000;
  --mdc-theme-background: #212121;

  --mdc-theme-text-primary-on-primary: #ffffff;
  --mdc-theme-text-secondary-on-primary: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-primary: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-primary: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-primary: rgba(255, 255, 255, 0.5);

  --mdc-theme-text-primary-on-accent: #ffffff;
  --mdc-theme-text-secondary-on-accent: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-accent: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-accent: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-accent: rgba(255, 255, 255, 0.5);

  --mdc-theme-text-primary-on-background: #ffffff;
  --mdc-theme-text-secondary-on-background: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-background: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-background: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-background: rgba(255, 255, 255, 0.5);

  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);

  --mdc-theme-text-primary-on-dark: #ffffff;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}
*/

.mdc-typography--headline1 {
  font-size: 4em;
}

.mdc-typography--headline3 {
  font-size: 3em;
}

.mdc-typography--headline4 {
  font-size: 2.25em;
  font-weight: 100;
}

.mdc-typography--headline5 {
  font-size: 1.5em;
  font-weight: 100;
}

.mdc-typography--headline6 {
  font-size: 1.125em;
}

.mdc-typography--subtitle1 {
  font-size: 1em;
  font-weight: bold;
}

.mdc-typography--subtitle2 {
  font-weight: 500;
}

.mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled) {
  background-color: #fb8c15;
  border-radius: 100px;
}

.mdc-card {
  padding: 16px;
  color: var(--mdc-theme-text-primary-on-background);
  background-color: var(--mdc-theme-background);
  border-radius: 8px;
  box-shadow: 0 2px 7px 0px rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.mdc-card--on-primary {
  color: var(--mdc-theme-text-primary-on-primary);
  background-color: rgba(255,255,255,.15);
}

.mdc-list-item__graphic {
  margin-left: 0;
  margin-right: 32px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
